.waf-widget.waf-breadcrumbs {

}

.waf-widget.waf-breadcrumbs {
	float: left;
	padding: 0 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	height: 23px;
	margin: 0px;	 
}

.waf-widget.waf-breadcrumbs a {
display: inline-block;
float: left;
height: 24px;
line-height: 23px;
}

.waf-widget.waf-breadcrumbs a.current, .waf-widget.waf-breadcrumbs a.current:hover {
color: #9E9E9E;
font-weight: bold;
text-shadow: 0 1px 0 #fff;
text-decoration: none;
}

.waf-widget.waf-breadcrumbs a:link, .waf-widget.waf-breadcrumbs a:visited {
color: #44474F;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
font-weight: bold;}

.waf-widget.waf-breadcrumbs a:hover {
color: #222222;
}

.breadcrumb_divider {
display: inline-block;
width: 12px;
height: 24px;
background: url(/images/breadcrumb_divider.png) no-repeat;
float: left;
margin: 0 5px;
}